[submodule "fio"]
	path = tools/fio
	url = https://github.com/stonet-research/fio
[submodule "rocksdb-amfs1"]
	path = tools/rocksdb-amfs1
	url = git@github.com:nicktehrany/rocksdb.git
	branch = amfs
[submodule "rocksdb-amfs2"]
	path = tools/rocksdb-amfs2
	url = git@github.com:nicktehrany/rocksdb.git
	branch = amfs
